<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>
<body>
   <div id="app">
       <!-- <h1 v-if="isShow"> {{ msg }}</h1> -->

       <!-- <div v-if="num==0">a</div>
       <div v-else-if="num==1">b</div>
       <div v-else="num==1">c</div> -->

       <!-- <div v-show="isShow">d</div> -->

       <ul>
           <li v-for="(val,index) in arr">{{val}}----{{index}}</li>
       </ul>
       <ul>
           <li v-for="(val,name,index) in obj">{{val}}--{{name}}--{{index}}</li>
       </ul>

       <ul>
           <li v-for="(val,index) in student">
               姓名：{{val.name}} 年龄：{{val.age}} 学校：{{val.school}} {{index}}
           </li>
       </ul>
   </div>
       
   <script>
   let vm = new Vue({
       el:"#app",
       data:{
           msg:"hello world!",
           isShow:true,
           num:4,
           arr:["a",3,3,4],
           obj:{
               name:"xiao a",
               age:"21",
               school:"heida"
           },
           student:[
               {
                   name:"xiao b",
                   age:"22",
                   school:"ligong"
               },
               {
                   name:"xiao c",
                   age:"19",
                   school:"ligong"
               },
               {
                   name:"xiao d",
                   age:"22",
                   school:"ligong"
               },
               {
                   name:"xiao e",
                   age:"18",
                   school:"ligong"
               }
           ]
       }
   })
   console.log(vm);
   
   </script>
</body>
</html>