<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="msg" placeholder="请输入用户名">
        <input type="text" v-model.lazy="msg" placeholder="请输入用户名">
        <input type="text" v-model.number="msg" placeholder="请输入用户名">
        <input type="text" v-model.trim="msg" placeholder="请输入用户名">
        用户名:{{msg}}
        <br>
        <input v-model="hobbyArr" type="checkbox" name="hobby" value="篮q"> <button @click="opppp"></button>
        <input v-model="hobbyArr" type="checkbox" name="hobby" value="足球">足球
        <input v-model="hobbyArr" type="checkbox" name="hobby" value="排球">排球
        <input v-model="hobbyArr" type="checkbox" name="hobby" value="网球">网球
        我的爱好:{{hobbyArr}}
        <br>
        <input v-model="sexData" type="radio" name="sex" value="男">男
        <input v-model="sexData" type="radio" name="sex" value="女">女
        性别:{{sexData}}
        <br>
        <select name="" v-model="school" id="">
            <option value="黑大">黑大</option>
            <option value="理工">理工</option>
            <option value="农大">农大</option>
        </select>
        学校:{{school}}
    </div>
    <script>
    let vm = new Vue({
        el:"#app",
        data:{
            msg:"",
            hobbyArr:[],
            sexData:"男",
            school:"农大"
        },
        methods:{
            opppp(){
                console.log(this.hobbyArr);
                
            }
        }
        
        
    })
    </script>
</body>
</html>